node_modules
/dist
# Keep environment variables out of version control
.env

/src/generated/prisma

Public primary schools .xlsx

all-schools.json
processed-schools.json
school-statistics.json
filter-data.json